.scale-up {
  transform: scale(1.); /* You can adjust the scale factor as needed */
  transition: transform 0.3s ease; /* Adjust the transition duration and easing as needed */
}

.scale-down {
  transform: scale(0.7); /* You can adjust the scale factor as needed */
  transition: transform 0.3s ease; /* Adjust the transition duration and easing as needed */
}